<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>00-javaee-webapp-load-on-startup</display-name>
	<servlet>
		<description>
		</description>
		<display-name>ServletOne</display-name>
		<servlet-name>ServletOne</servlet-name>
		<servlet-class>com.msrm.servlet.ServletOne</servlet-class>
		<load-on-startup>-2</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletTwo</display-name>
		<servlet-name>ServletTwo</servlet-name>
		<servlet-class>com.msrm.servlet.ServletTwo</servlet-class>
		<load-on-startup>-1</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletThree</display-name>
		<servlet-name>ServletThree</servlet-name>
		<servlet-class>com.msrm.servlet.ServletThree</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletFour</display-name>
		<servlet-name>ServletFour</servlet-name>
		<servlet-class>com.msrm.servlet.ServletFour</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletFive</display-name>
		<servlet-name>ServletFive</servlet-name>
		<servlet-class>com.msrm.servlet.ServletFive</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletOne</servlet-name>
		<url-pattern>/ServletOne</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletTwo</servlet-name>
		<url-pattern>/ServletTwo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletThree</servlet-name>
		<url-pattern>/ServletThree</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletFour</servlet-name>
		<url-pattern>/ServletFour</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletFive</servlet-name>
		<url-pattern>/ServletFive</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>ServletFive</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
